ul(ng-attr-codoshop-projects-drop-menu='')
	li
		a(ng-click='add', href='#', onclick='return false;') add folder/files...
	li
		a(ng-click='rename', href='#', onclick='return false;') rename...
	li
		a(ng-click='reveal', href='#', onclick='return false;') reveal in finder...
	li
		a(ng-click='remove', href='#', onclick='return false;') remove
