ul(ng-attr-codoshop-projects-drop-menu='')
	li
		a(ng-click='add($event)', href='#', onclick='return false;') add folder/files...
		input(type='file', style='display: none')
	li
		a(ng-click='rename()', href='#', onclick='return false;') rename...
	li
		a(ng-click='reveal()', href='#', onclick='return false;') reveal in finder...
	li
		a(ng-click='remove()', href='#', onclick='return false;') remove
