.codoshop-projects-button-row-wrapper
	ul.codoshop-projects-button-row(ng-attr-codoshop-projects-button-row='')

.codoshop-project-scrollview(ng-attr-codoshop-projects='')

	div(ng-attr-codoshop-project-view='', ng-repeat='project in projects', ng-class="{expanded: project.status == 'expanded'}", ng-selected='project.status == "expanded"')

	//- .fc-s-0(ng-repeat-end='')

	//- .bg-color-1.fc-s-0(ng-attr-codoshop-spacer='')
