.codoshop-projects-button-row-wrapper
	ul.codoshop-projects-button-row(ng-attr-codoshop-projects-button-row='')

.codoshop-project-scrollview(ng-attr-codoshop-projects='')

	div(ng-attr-codoshop-project='', ng-repeat-start='project in projects', ng-class="{expanded: project.status == 'expanded', 'codoshop-project': true}", ng-selected='project.status == "expanded"')

		div
			div
				a.fa.fa-cog(ng-click='openSettingsMenu($event)', href='#', onclick='return false;')
			header
				div
					//- a.fa.fa-angle-up(ng-click='openToggle()', href='#', onclick='return false;')
					//- a.fa.fa-angle-down(ng-click='openToggle()', href='#', onclick='return false;')
				div
					a(ng-click='openToggle()', href='#', onclick='return false;')
						div {{project.name}}
						div
						div ../asdas/asdas/{{project.name}}
					//- a.fa.fa-angle-down(ng-click='openToggle()', href='#', onclick='return false;')


			div.animate-slide(ng-show="project.status == 'expanded'")
				ul.codoshop-project-buttons
					li
						a(href='#', onclick='return false;').fa.fa-angle-double-down
					li
						a(href='#', onclick='return false;').fa.fa-angle-double-up
					li
						a(href='#', onclick='return false;').fa.fa-angle-down
					li
						a(href='#', onclick='return false;').fa.fa-angle-up
					li
						a(ng-disabled='project.dirTree && project.dirTree.length > 0', ng-click='openToggle()', href='#', onclick='return false;').fa.fa-angle-down
					li
						a(href='#', onclick='return false;').fa.fa-cog


				// File directory tree
				.fp.fp-fd-c
					// <div class="bg-color-1" ng-style="{'height': lhc( 0.25 ), 'flex-shrink': 0}"></div>
					script(type='text/ng-template', id='node_template.html').
						<a ng-click="click()" class="bg-color-1" ng-attr-node href="javascript:void(0)">
						<div></div>
						<div class="arrow"></div>
						<div class="icon fa fa-folder-o"></div>
						<div class="label">{{node.name}}</div>
						</a>
						<ul ng-show="node.status == 'open'" class="animate-slide">
						<li ng-repeat="node in node.nodes" ng-class="{dir: node.type == 'dir'}" ng-include="'node_template.html'"></li>
						</ul>

					ul.codoshop-tree(ng-controller='zTree')
						li(ng-repeat='node in project.dirTree', ng-class="{dir: node.type == 'dir', open: node.status == 'open'}", ng-include="'node_template.html'")
			div


	.fc-s-0(ng-repeat-end='')

	.bg-color-1.fc-s-0(ng-attr-codoshop-spacer='')
