.colors-section.light-block.fc-g-1(ng-attr-colorss='', style='padding: 7px;')
	div
		.color-cell.fp.fp-center(ng-repeat='c in colors', style='width: 21px; height: 21px;')
			div(ng-style='{"background-color": c.string}')

		.color-cell.fp.fp-center(ng-repeat='c in fillers', style='width: 21px; height: 21px;')
			div(ng-style="{'background-color': 'none'}")

	div 
		div
			div {{colors.length}}&nbsp;&nbsp;
			a.fa.fa-cog(href='#', onclick='return false;')
		div
			span colors 
			span detected
