<div class="colors-section light-block fc-g-1" ng-attr-colorss style="padding: 7px;">
			
				
	<div class="fp fp-wrap">
		<div ng-repeat="c in colors" class="color-cell fp fp-center" style="width: 21px; height: 21px;">
			<div ng-style="{'background-color': c.string}"></div>
		</div>
		<div ng-repeat="c in fillers" class="color-cell fp fp-center" style="width: 21px; height: 21px;">
			<div ng-style="{'background-color': 'none'}"></div>
		</div>
	</div>

	<div></div>
	<h3>[<span class="bold light-violet">{{colors.length}}</span> colors detected]  <span class="fa fa-cog" style="float: none;"></span></h3>

</div>