@import '../variables';

.codoshop-top-bar {
	height: 15px;
	display: flex;
	flex-direction: column;
	// align-items: center;
	// flex-grow: 0;
	flex-shrink: 0;
	
	
	// box-shadow: 0px 0px 20px rgba(#000, 0.2);
	&:before {
		content: '';
		height: 1px;
		flex-shrink: 0;
		background-color: $gap-color-2;
	}
	> div:first-child {
		
		display: flex;
		// align-items: center;
		flex-grow: 1;
		
		&:before, &:after {
			content: '';
			width: 1px;
			flex-shrink: 0;
			background-color: $gap-color-2;
		}
		> div {
		
			padding-left: 5px;
			display: flex;
			align-items: center;
			flex-grow: 1;
			// background-color: $bg-color-2;
			@include bg-color-2;

			> div {
				display: flex;
				&:before, &:after {
					content: '';
					display: block;
					flex-shrink: 0;
					border-top: 4px solid transparent;
					border-bottom: 4px solid transparent;
					border-left: 4px solid rgba(#000, 0.7);
				}
			}
		}
	}

}

ul.codoshop-section-tabs {
	display: flex;
	flex-grow: 0;
	flex-shrink: 0;
	
	font-size: 11px;
	font-weight: 400;
	letter-spacing: 0px;
	// text-transform: uppercase;
	// background-color: rgba(#000, 0.1);
	// @include background(
	//             radial-gradient( 50% 0%, ellipse 400px 1px, rgba(#fff, 0.4), rgba(#fff, 0) ),
	//             linear-gradient( 0deg, rgba(#17151d, 0.9) 0%, rgba(#17151d, 0.9) 100%)
	// );

	
	> li {
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;

		overflow: hidden;
		letter-spacing: inherit;
		text-transform: inherit;


		&:before {
			content: "";
			height: 1px;
			flex-shrink: 0;
			background-color: rgba(#333, 0.9);
		}
		&:after {
			content: "";
			height: 1px;
			flex-shrink: 0;
			background-color: $gap-color-2;
		}
		

		> a {
			display: flex;
			flex-grow: 1;
			
			
			text-transform: inherit;
			
			// text-shadow: 0 0px 0px 1px rgba(#fff, 0.1);
			// > span {
			// 	position: relative;
			// 	top: 0px;
			// }
			// &:before {
			// content: "";
			// width: 1px;
			// background-color: rgba(#444, 0.9);
			// }
			&:after {
				content: "";
				width: 1px;
				flex-shrink: 0;
				background-color: rgba(#333, 0.9);
			}
			> div {
				padding: 2px 7px 0px 7px;
				flex-grow: 1;
			}
		}
		
		&[selected="selected"] {
			&:before {
				background-color: $gap-color-2;
			}
			> a {

				color: $silver-2;
				background-color: $bg-color-1;
				&:after {
					background-color: $gap-color-2;
				}
			}
			// &:before {
			// 	background-color: rgba(#444, 0.9);
			// }
			&:after {
				background-color: $bg-color-1;
				// border-right: 1px solid $dark;
			}
		}
		&:not([selected="selected"]) {
			> a {
				color: $silver-2;
				// background-color: $bg-color-2;
				@include bg-color-2;
				// &:last-child {
				// 	// border-right: 1px solid $less-dark;
				// }
			}

			&:not(:last-child) {
				> a:hover {
					background-color: darken($bg-color-2, 3);
				}
				// &:before {
				// 	// content: none;
				// 	background-color: rgba(#444, 0.9);
				// }
			}
			&:last-child {
				> a {
					cursor: default;
				}
				&:before {
					content: none;
					// background-color: $color-bg-2;
				}
			}
			
		}
		


		// &:nth-last-child(2) {
		// 	border-radius: 0 10px 0 0;
		// }

		// end spacer
		&:nth-last-child(1) {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			flex-shrink: 1;
			flex-basis: 0;
			// overflow: hidden;

			// &:after, &:before {
			// 	content: "";
			// }
			&:after {
				height: 1px;
				flex-shrink: 0;
				background-color: $gap-color-2;
			}
			> div {
				display: flex;
				flex-grow: 1;
				&:before {
					content: '';
					flex-grow: 1;
					// background-color: $bg-color-2;
					@include bg-color-2;
				}
				&:after {
					content: '';
					width: 1px;
					flex-shrink: 0;
					background-color: $gap-color-2;
				}
			}
			
			
			// > a, > div {
			// 	flex-grow: 1;
			// 	border-left: 1px solid rgba(#444, 0.9);
			// 	border-right: 0 !important;
			// }
			// &:after {
			// 	background-color: rgba(lighten(#555, 7), $master-opacity);
			// 	border-right: 0;
			// }
			// &:after {
			//     content: "";
			//     @include size(1px auto);
			//     background-color: rgba(#000, 0.7);
			// }
		}
		// &:nth-last-child(1) {
		// 	width: 1px;
		// 	flex-shrink: 0;
		// 	background-color: transparent !important;

		// 	&:before, &:after {
		// 		content: none;
		// 	}
		// }
	}
}