// Wrapper div so that resize handles have someone to go without intefering with layour
.codoshop-wrapper
	.top
		.content
			ul.dots
				li
					a(href='javascript:void(0)')
				li
					a(href='javascript:void(0)')
				li
					a(href='javascript:void(0)')

	//- .h-spacer.dark

	.codoshop-content

		.codoshop-column(ng-repeat='column in codoshopVM.columns', ng-class='column.class', ng-style='column.style')
			//- div(ui-view='')
			//- section.fc-g-1(ng-repeat='section in column.sections')
			//- 	div(ui-view='')

			section.fc-g-1(ng-repeat='section in column.sections', ng-style='section.style')
				nav(ng-if='section.tabs != false')
					.codoshop-top-bar
						div
							div
								div
					section-tabs(data-tabs='{{section.articles}}')

				article(ng-repeat='article in section.articles', ng-show='codoshopVM.isSelected(article, section.articles)')
					ng-include(src='article.templateUrl')


		.codoshop-dialog-wrapper(ng-show='codoshopVM.dialog.show == true')
			.codoshop-dialog(ng-attr-dialog='', ng-show='codoshopVM.dialog.show == true')



div(ng-attr-codoshop-drop-menu='', ng-show='codoshopVM.dropMenu.show == true')
	ul
		li(ng-repeat='item in codoshopVM.dropMenu.items')
			a(ng-click='item["ng-click"]($event, item)', href='#', onclick='return false;') {{item.label}}

input(ng-attr-codoshop-file-input='', type='file', style='display: none; position: absolute;')

