
<!-- Wrapper div so that resize handles have someone to go without intefering with layour -->
<div class="codoshop-wrapper">
	<div class="top">
		<div class="content">
			<ul class="dots">
				<li><a href="javascript:void(0)"></a></li>
				<li><a href="javascript:void(0)"></a></li>
				<li><a href="javascript:void(0)"></a></li>
			</ul>
		</div>
	</div>

	<div class="h-spacer"></div>

	<div class="codoshop-content">

		<div ng-repeat-start="column in codoshopVM.columns" ng-class="column.class" class="codoshop-column" ng-style="column.style">

			<section ng-repeat-start="section in column.sections" class="fc-g-1">
			<!-- <h3 style="text-align: left;"><span>Files</span></h3>  -->

				<nav ng-if="section.tabs != false">
<!-- 					<ng-include src="'components/sectionTabs/sectionTabs.html'">
					</ng-include> -->
					<div class="codoshop-top-bar"></div>
					<section-tabs data-tabs="{{section.articles}}">
					</section-tabs>
				</nav>

				<article 	ng-repeat="article in section.articles"
							ng-show="codoshopVM.isSelected(article, section.articles)">
					
					<ng-include src="article.templateUrl">
					</ng-include>
					
				</article>

			</section>

			<div ng-repeat-end class="h-spacer"></div>

		</div>



	  <div ng-repeat-end class="v-spacer"></div>



	</div>
</div>